:root {
  /* Primary Colors */
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}
*, *::before, *::after {
  box-sizing: border-box;
}
html, body {
  overflow-x: hidden;
}

/* Base Styles (Mobile First) */
body {
  background-color: var(--light-grayish-blue);
  font-size: 13px;
  font-family: "Manrope", sans-serif;
  color: var(--very-dark-grayish-blue);
}

h1, h2, h3 {
  font-weight: 700;
  color: var(--very-dark-grayish-blue);
}

p {
  color: var(--desaturated-dark-blue);
}

.container {
  max-width: 28rem;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.content {
  padding: 1.5rem 1.5rem 0.3rem 1.5rem;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.8rem 1.5rem 2.5rem;
}

.footer.active {
  background-color: var(--very-dark-grayish-blue);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 1rem 1.8rem 1rem 2.5rem;
  align-items: center;
}

.footer.active .profile,
.footer.active .info {
  display: none;
}

.footer.active .social {
  display: flex;
  align-items: center;
  gap: 1.3rem;
}

.social {
  display: none;
}

.profile {
  display: flex;
  align-items: center;
}

.info {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.info p {
  font-size: 1rem;
  padding-left: 1rem;
  margin: 0;
}

.name {
  font-weight: 700;
  color: var(--very-dark-grayish-blue);
  font-size: 2rem;
}

.share-icon {
  margin-left: auto;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.share-icon:hover {
  filter: brightness(0.8);
  transform: scale(1.1);
  transition: all 0.2s ease;
}

.footer.active .share {
  background-color: var(--grayish-blue);
}

.footer.active .share-icon {
 
  filter: brightness(100);
}

.footer,
.footer .info,
.footer .social {
  transition: all 0.3s ease;
}

.share {
  background-color: var(--light-grayish-blue);
  padding: 0.7rem;
  border-radius: 60px;
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.image-profile {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.drawers {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.content h1,
.content p {
  padding-left: 20px;
  padding-right: 20px;
}

.content h1 {
  max-width: 20rem;
  font-size: large;
  letter-spacing: 1px;
}

.content p {
  max-width: 39ch;
  letter-spacing: 1px;
  line-height: 1.5;
  font-size: 1rem;
}

.facebook-icon,
.twitter-icon,
.pinterest-icon {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.share-label {
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: 700;
  font-size: 0.8rem;
  color: var(--grayish-blue);
}

/* ============================
   Responsive Layout Breakpoints
   ============================ */

/* Medium Screens (Tablet) */
@media (min-width: 600px) {
  .container {
    max-width: 700px;
    overflow: hidden;
  }

  .drawers {
    height: 300px;
    width: 100%;
  }
  .content h1 {
  max-width: 23em;
  font-size: xx-large;
  letter-spacing: 3px;
}
.content p {
  max-width: 37rem;
  letter-spacing: 2px;
  line-height: 1.2;
  font-size: 1rem;
}

}
@media (min-width: 1024px) {
  body {
    background-color: var(--light-grayish-blue);
    padding: 0;
    margin: auto 5px;
  }

  .container {
    max-width: 90%;
    display: flex;
    flex-direction: row;
    min-height: 400px;
    background-color: transparent;
  }

  .drawers {
    width: 125%;
    height: 400px;
      border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    object-fit: cover;
  }

  .text {
    width: 53%;
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 400px;
    position: relative;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem
  }
  

  .content {

    display: flex;
    flex-direction: column;
    
  }

 
  .footer {
    
    padding-right: 2rem;
  }
  .footer.active{
    background-color: white;
  }
.footer.active .share{

  position: fixed;
  top: 50%;
  right: 13%;
}
  .active .social {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
    padding: 1rem;
    border-radius: 20px;
    position: absolute;
    top: 55%;
    right: -6%;
  display: flex;
  align-items: center;
  gap: 1.3rem;
  background-color: var(--desaturated-dark-blue);
}
  .footer.active .profile,
  .footer.active .info {
    display: flex;
  }

  .footer.active .info {
    flex-direction: column;
  }

}
